[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
shortuuid = "*"
tabulate = "*"
maskpass = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-order = "*"
flask = "*"
marshmallow = "*"
flask-smorest = "*"
flask-jwt-extended = "*"
mysql = "*"
mysqlx-connector = "*"
mysql-connector-python = "*"
flask-parameter-validation = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.11"
